.Paper {
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 1.5em 2em 2em 2em;
  max-width: 900px;
  margin: auto;
  /*align-items: flex-end;*/
}

@media screen and (max-width: 480px) {
  .Paper {
    padding: 0.5em;
  }
}

@media screen and (max-width: 320px) {
  .Paper {
    margin: 0.5em -0.5em;
  }
}
