.Paper {
  display: flex;
  flex-flow: column;

  padding: 2em;
  margin: auto;
  margin-top: 2em;

  max-width: 900px;

  align-items: center;
}


@media screen and (max-width: 480px) {
  .Paper {
    padding: 0.5em;
    margin: 0.5em 0;
  }
}

@media screen and (max-width: 320px) {
  .Paper {
    margin: 0.5em -0.5em;
  }
}
